/* nav design */
.navbar-nav .nav-link {
    color: black !important;
}

.navbar-nav .nav-link:hover {
    color: rgb(138, 56, 56) !important;
    font-size: 1.4rem;
}

.brand-style {
    background-color: black;
    color: white;
}

.bg-white {
    background-color: white;
}

.div1-default {
    background-color: white;
    color: black;
    width: 200px;
    height: 40px;
}

/* Main container height  */
.newsDetailsArea {
    min-height: 320px;
}



.blogDetailsArea {
    min-height: 380px;
}